process {
    container = 'nextflow/rnaseq-nf'
    withName: KALLISTO_INDEX {
        container = 'quay.io/biocontainers/kallisto:0.44.0--h7d86c95_2'
    }
    withName: KALLISTO_QUANT {
        container = 'quay.io/biocontainers/kallisto:0.44.0--h7d86c95_2'
    }
}

docker {
    runOptions = '-u $(id -u):$(id -g)'
    enabled = true
}

process {
    errorStrategy: "retry"
    maxRetries: 3
}